@font-face {
    font-family: "iconfont"; /* Project id 2715409 */
    src: url('./iconfont.woff2') format('woff2');
}

.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-laba:before {
    content: "\e884";
}
